/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

/* GLOBALES */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

::selection {
  background-color: #105a33;
  color: #fff;
  text-shadow: none;
}

/* HEADER */
header {
  width: 100%;
  height: auto;
  padding: 5px 50px;
  margin-bottom: 2%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-logo {
  width: 250px;
  height: auto;
}

.logo {
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.content-support {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
}

.content-support {
  font-weight: 500;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: inline-block;
  padding: 0 50px;
}

.list {
  list-style: none;
}

.link {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  color: #292929;
}

.link:hover {
  color: #3ddb87;
}

/* MAIN */
.section-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.content-img {
  width: 100%;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 30px;
}

.content-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 30px;
  background-color: #105a33;
  opacity: 0.8;
  transition: 0.2s;
}

.text-content-img {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 1000;
}

.content-img:hover .text-content-img {
  visibility: visible;
}

.content-img:hover::before {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* SHOP */
.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.container-grid-shop {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.container-img {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.container-img img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.container-img img:hover {
  transform: scale(1.3);
}

.card i {
  cursor: pointer;
  font-size: 40px;
}

.card i:hover {
  color: #3ddb87;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  font-weight: bold;
}

/* ABOUT US */
.article-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.title {
  font-size: 50px;
  color: #105a33;
}

.text-aboutUs {
  text-align: left;
  width: 650px;
}

/* NEWS */
.title-news {
  font-size: 28px;
  color: #105a33;
}

.google-maps {
  border: 1px solid #ddd;
}

/* FOOTER */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  font-size: 20px;
}

.content-register {
  display: flex;
  gap: 20px;
}

.content-register input {
  padding: 0.5rem 1rem;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
}

.content-register input:focus {
  outline: 1px solid #000;
}

.content-register button {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.content-register button:hover {
  background-color: #292929;
  color: #fff;
}

.content-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-socials li {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
}

.content-socials li i {
  cursor: pointer;
}
